{% extends "rango/base_boot-strap.html" %}
{% load static %}

{% block title_block %}
    Rango - About
{% endblock %}

{% block body_block %}
    <div class="jumbotron"> 
    <h1 class="form-signin-heading">ABOUT</h1>
    </div>
        <div>
            This page was put together by Christy Bolland<br/>
            Finn hates cats
        </div>
    <button class="btn btn-primary" onclick="alert('You Clicked the button using Javascript');">
    Click Me - I run javascript!</button>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I run javascript on speed!</button>
        <p>This is an example</p>
        <p>This is another example</p>
        <div id="msg">Hello i'm here for the Jquery example too</div>
       
{% endblock %}