{% extends "rango/base_boot-strap.html" %}
{% load static %}

{% block title_block %}
    Add a Page
{% endblock %}

{% block body_block %}
            {% if catagory %}

<br />
        <form role="form" id="page_form" method="post" action="/rango/catagory/{{ catagory.slug }}/add_page/" novalidate>

        <h2 class="form-siginin-heading">Add a Page to <a href="/rango/catagory/{{ catagory.slug }}">{{catagory.name}}</a></h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        
        {% for field in form.visible_fields %}
            {{field.errors}}
            {{field.help_text}}<br />
            {{field}}<br />
            
        {% endfor %}
        <br/>
        <Button class="btn btn-primary" type="submit" name="submit">Add Page</Button>
        </form>
            {% else %}
                The Specified category does not exist!
            {% endif %}
        
{% endblock %}