{% extends "rango/base_boot-strap.html" %}
{% load static %}

{% block title_block %}
    {{  catagory.name }}
{% endblock %}

{% block body_block %}
    {% if catagory %}
        <h1>{{ catagory.name }}</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>       
            {% endfor %} 
        </ul>

        {% else %}
            <strong>No pages in this category.</strong>
        {% endif %}
            <br/>
            {% if user.is_authenticated %}
            <a href="{% url 'add_page' catagory.slug %}">Add a new Page</a><br/>
            {% endif %}
    {% else %}
        The specified category does not exist!

    {% endif %}
{% endblock %}

