{% extends "rango/base_boot-strap.html" %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <div class="jumbotron">   
    <h1 class="display-3">Finn says...</h1>
        {% if user.is_authenticated %}
            <h1>Howdy {{ user.username }}</h1>
        {% else %}
            <h1>Hey there partner</h1>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6">
        <h4>Most Viewed Categories</h4>
        <p>
        {% if categories %}
        <ul class="list-group">
            {% for catagory in categories %}
            <li class="list-group-item"><a href="{% url 'show_category' catagory.slug %}">{{ catagory.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categroies present.</strong>
        {% endif %}
        </p>
        </div>
        <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        <p>            
        {% if pages %}
        <ul class="list-group">
            {% for page in pages %}
            <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>       
            {% endfor %} 
            </ul>
            {% else %}
                <strong>No pages present.</strong>
            {% endif %}
        </p>
        </div>
    </div>
    <div>
        <img src= "{% static "images/finn.jpg" %}"
        alt= "picture of finn" style="width: 600px;height: 400px;"/>
    </div>
    <p>visits: {{ visits }}</p>
{% endblock %}